:root {
  --primary-accent: #f88500;
  --primary-text: #333;
  --primary-text-light: #999;
  --primary-dark: #202328;
  --primary-dark-partial-transparent: rgba(32, 35, 40, 0.9);
  --primary-dark-transparent: rgba(32, 35, 40, 0.2);
  --primary-dark-light: #6F7888;
  --primary-deep: #171A1A;
  --primary-white: #FAFAFA;
  --primary-white-light-transparent: rgba(250, 250, 250, 0.5);
  --primary-gray-light-transparent: rgba(196, 196, 196, 0.3);
  --overlay-gray-transparent: rgba(249, 251, 255, 0.97);
  --divider-gray: #323232;
  --divider-gray-light: #E4E4E4;
  --indigo-light: #989DA5;
  --inactive-element: rgba(152, 157, 165, 0.33);
  --side-margins: 15vw;
  --side-margins-non-widescreen: 5rem;
  --styled-border-radius: 0 5px 0 5px;
  --navbar-height: 115px;
  --footer-height: 477px;
  /* filter:brightness(.5); */
}

@media (max-width: 1400px) {
  :root {
    --side-margins: 5rem;
  }
}

@media (max-width: 576px) {
  :root {
    --side-margins: 1.25rem;
    --side-margins-non-widescreen: 1.25rem;
  }
}

*,::after,::before {
box-sizing: border-box;
}

body, html {
  font-family: 'Raleway';
  margin: 0;
}

#main-routes-content {
  padding-top: var(--navbar-height);
  min-height: calc(100vh - var(--footer-height));
}

button {
  all: inherit;
  cursor: pointer;
}

.button {
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-white);
  background-color: var(--primary-accent);
  padding: 0.988rem 1.775rem;
  width: max-content;
  border-radius: var(--styled-border-radius);
  transition: all 0.1s linear;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  filter: brightness(1.2);
}

li {
  list-style-type: none;
}

.paragraph {
  line-height: 200%;
  font-size: 0.875rem;
}

.hidden {
  visibility: hidden;
}

.blocked {
  pointer-events: none;
  opacity: 0.25;
}

#navbar .logo, #footer .logo {
  height: 34px;
}

.dots {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.dots .dot {
  width: 5px;
  height: 5px;
  background-color: var(--inactive-element);
  border-radius: 50%;
}

.nav-button {
  color: #fff;
  text-decoration: none;
  padding: 0.438rem 1vw;
  font-size: 0.875rem;
}

.nav-button {
  color: #fff;
  text-decoration: none;
  padding: 0.438rem 1vw;
  font-size: 0.875rem;
}

@media (max-width: 576px) {
  .nav-button {
    padding: 0.75rem;
  }
}

.soc-media-icons {
  display: flex;
  align-items: center;
  padding: 0 0.4rem;
  list-style-type: none;
  text-decoration: none;
  height: max-content;
  margin: 0;
  background-color: var(--primary-dark-transparent);
  border-radius: var(--styled-border-radius);
}

@media (max-width: 992px) {
  .soc-media-icons {
    padding: 0.538rem 0.838rem;
  }
}

.soc-media-icons svg {
  color: var(--primary-white-light-transparent);
  padding: 0.438rem;
}

@media (max-width: 992px) {
  .soc-media-icons svg {
    padding: 0.538rem 0.838rem;
  }
}

.soc-media-icons svg:hover {
  color: var(--primary-white);
}

#navbar .nav-buttons-ul .nav-button:hover {
  background-color: var(--primary-gray-light-transparent);
  border-radius: var(--styled-border-radius);
  color: #fff;
}

#navbar {
  background-color: rgba(0,0,0,calc(1 * 1v));
  border-radius: 0px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  font-weight: 500;
  height: auto;
  padding: 2.5rem var(--side-margins);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 992px) {
  #navbar {
    flex-direction: column;
    grid-gap: 1rem;
    padding: 1.5rem 5rem 0.5rem;
  }
}

@media (max-width: 576px) {
  #navbar {
    padding: 1.5rem 0rem 0.5rem;
  }
}

#navbar .logo {
  position: relative;
  top: 10px;
}

#navbar .nav-buttons-ul {
  display: flex;
  grid-gap:  0.6vw;
  align-items: center;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
}

@media (max-width: 992px) {
  #navbar .nav-buttons-ul {
    margin-top: 0.85rem;
  }
}

#navbar.dark .nav-button {
  color: var(--primary-text);
}

#navbar.dark .nav-button:hover {
  color: var(--primary-white);
  background-color: var(--primary-accent);
}

#navbar.dark .soc-media-icons {
  background-color: transparent;
}

#navbar.dark .soc-media-icons svg {
  color: var(--primary-dark-light);
}

#navbar.dark .soc-media-icons svg:hover {
  color: var(--primary-text);
}

#front-page {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -115px;
}

#front-page .slider {
  position: relative;
}

#front-page .slider img::before {
  position: absolute;
  width: 100%;
  height: 100px;
  background: linear-gradient(0.5turn, rgba(0,0,0,0.35), rgba(0,0,0,0));
  z-index: 1;
  content: '';
}

@media (max-width: 992px) {
  #front-page .slider img::before {
    height: 200px;
  }
}

#front-page .slider img {
  height: 630px;
  background-color: var(--primary-dark);
  color: var(--primary-dark);
}

#front-page .slider .image-wrapper {
  background: transparent;
}

#front-page .slider .slider-image-1 {
  background: url('./assets/header-1.jpg') no-repeat fixed bottom/cover;
}

#front-page .slider .slider-image-2 {
  background: url('./assets/header-2.jpg') no-repeat fixed bottom/cover;
}

#front-page .slider .slider-image-3 {
  background: url('./assets/header-3.jpg') no-repeat fixed bottom/cover;
}

#front-page .slider .control-panel {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-top-left-radius: 5px;
  right: 10px;
  bottom: 9px;
  min-height: 90px;
  padding-left: 2.2rem;
  padding-right: 1.3rem;
  background-color: var(--primary-dark);
  color: var(--primary-white);
}

@media (max-width: 767px) {
  #front-page .slider .control-panel {
    width: 100%;
  }
}

#front-page .slider .control-panel .page-numbers {
  font-family: 'Roboto';
  display: flex;
  position: relative;
  color: var(--primary-dark-light);
  grid-gap: 1rem;
  margin-right: 1.562rem;
}

@media (max-width: 767px) {
  #front-page .slider .control-panel .page-numbers {
    margin-left: 1.681rem;
  }
}

#front-page .slider .control-panel .page-numbers .current-page {
  font-size: 0.938rem;
}

#front-page .slider .control-panel .page-numbers .divider {
  border: 1px solid rgba(111, 120, 136, 0.19);
  position: absolute;
  height: 25px;
  left: 54%;
  bottom: -3px;
  transform: translateX(-50%);
}

#front-page .slider .control-panel .page-numbers .total-pages {
  opacity: 0.35;
  font-size: 0.75rem;
  align-items: center;
  display: flex;
}

#front-page .slider .control-panel .scroll-bar {
  position: relative;
  width: 180px;
  bottom: 2px;
}

#front-page .slider .control-panel .scroll-bar-empty {
  position: absolute;
  width: 180px;
  height: 5px;
  border-radius: 33px;
  background-color: rgba(0, 0, 0, 0.2);
}

#front-page .slider .control-panel .scroll-bar-progress {
  background-color: #000;
  position: absolute;
  width: 60px;
  height: 5px;
  border-radius: 33px;
  transition: all 0.2s linear;
  left: 0px;
}

#front-page .slider .control-panel .scroll-bar-progress.middle {
  left: 60px;
}

#front-page .slider .control-panel .scroll-bar-progress.end {
  left: 120px;
}

#front-page .slider .control-panel .buttons {
  margin-left: 0.781rem;
  display: flex;
}

#front-page .slider .control-panel .buttons button {
  background: none;
	color: inherit;
	border: none;
	padding: 1rem;
	cursor: pointer;
	outline: inherit;
  margin: 0;
}

#front-page .slider .control-panel .buttons button:hover>*:not(.blocked) {
	color: var(--primary-white);
}

#front-page .slider .control-panel .buttons button .blocked {
  pointer-events: none;
}

#front-page .slider .control-panel .buttons .arrow-left {
  color: var(--primary-dark-light);
}

#front-page .slider .control-panel .buttons .arrow-right {
  color: var(--primary-dark-light);
}

#front-page .slider .bg {
  background-color: var(--primary-dark);
  width: 100%;
  height: 650px;
  padding: 0.625rem;
}

#front-page .slider .bg .fg-header {
  position: absolute;
  left: var(--side-margins);
  top: 200px;
  z-index: 2;
  color: var(--primary-white);
  font-weight: 100;
}

@media (max-width: 992px) {
  #front-page .slider .bg .fg-header {
    left: 50%;
    transform: translateX(-50%);
  }
}

#front-page .slider .bg .fg-header h1 {
  font-weight: 100;
  margin: 0;
  font-size: 3rem;
}

#front-page .slider .bg .fg-header h2 {
  background-color: var(--primary-accent);
  border-radius: var(--styled-border-radius);
  padding: 0.25rem 1.25rem;
  text-align: center;
  font-size: 1rem;
  width: 171px;
  font-weight: 400;
  margin: 0.85rem 0 1.15rem;
}

#front-page .slider .bg .fg-header p {
  line-height: 170%;
  background-color: var(--primary-dark);
  opacity: 0.85;
  padding: 0.938rem 1.25rem;
  border-radius: var(--styled-border-radius);
  width: 370px;
  font-size: 0.875rem;
}

#front-page .statistics {
  background-color: var(--primary-deep);
  display: flex;
  justify-content: space-between;
  padding: 54px var(--side-margins);
}

@media (max-width: 767px) {
  #front-page .statistics {
    flex-direction: column-reverse;
    align-items: center;
  }
}

#front-page .statistics .left-col {
  color: var(--primary-dark-light);
  font-size: 0.875rem;
  text-transform: uppercase;
  width: auto;
  flex: 1 0 63.33%;
  max-width: 700px;
}

@media (max-width: 767px) {
  #front-page .statistics .left-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
}

#front-page .statistics .left-col .divider {
  border: 1px solid var(--divider-gray);
  opacity: 0.5;
  width: 220px;
  margin: 1.2rem 0 1rem;
}

#front-page .statistics .left-col .stats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 21px));
  grid-gap: 1.2rem 20px;
}

@media (max-width: 767px) {
  #front-page .statistics .left-col .stats {
    display: grid;
    grid-gap: 1.2rem 20px;
    grid-template-columns: repeat(2, auto);
  }
}

#front-page .statistics .left-col .stats .figure {
  font-family: 'Roboto';
  font-weight: 700;
}

#front-page .statistics .right-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  text-align: right;
}

@media (max-width: 767px) {
  #front-page .statistics .right-col {
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }
}

#front-page .statistics .right-col .desc {
  color: var(--primary-dark-light);
  line-height: 165%;
  font-size: 0.80rem;

}

#front-page .statistics .right-col .phone-num {
  font-family: 'Roboto';
  color: var(--primary-white);
  font-weight: 300;
  font-size: 1.7rem;
  margin: 0.66rem 0 1.18rem;
}

#front-page .projects {
  position: relative;
}

#front-page .projects .upper-row {
  display: flex;
  align-items: center;
  background-color: var(--primary-dark);
  justify-content: center;
  padding-bottom: 100px;
}

@media (max-width: 767px) {  
  #front-page .projects .upper-row {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
  }
}

#front-page .projects .upper-row .left-col {
  width: auto;
  flex: 0 0 50%;
  text-align: right;
}

#front-page .projects .upper-row .left-col .paragraph {
  color: var(--primary-white);
  font-weight: 300;
  letter-spacing: 0.25px;
  margin: 70px 50px 70px var(--side-margins);
}

@media (max-width: 992px) {  
  #front-page .projects .upper-row .left-col .paragraph {
    font-size: 0.75rem;
  }
}

@media (max-width: 767px) {  
  #front-page .projects .upper-row .left-col .paragraph {
    text-align: center;
    font-size: 0.875rem;
    margin: 70px var(--side-margins) 0px var(--side-margins);
  }
}

#front-page .projects .divider {
  border: 1px solid var(--divider-gray);
  opacity: 0.5;
  height: 157px;
  width: 0;
  margin: 1.2rem 0 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  #front-page .projects .divider {
    visibility: hidden;
  }
}

#front-page .projects .upper-row .right-col {
  width: auto;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
}

#front-page .projects .upper-row .right-col .headers>* {
  margin: 0.775rem 0;
}

#front-page .projects .upper-row .right-col .headers {
  margin: 70px var(--side-margins) 70px 50px;
}

@media (max-width: 767px) {  
  #front-page .projects .upper-row .right-col .headers {
    margin: 40px var(--side-margins) 70px var(--side-margins);
  }
}

#front-page .projects .upper-row .right-col h3 {
  color: var(--primary-accent);
}

#front-page .projects .upper-row .right-col h2 {
  color: var(--primary-white);
}

#front-page .projects .projects-ul-wrapper {
  position: relative;
  bottom: 120px;
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: auto;
}

#front-page .projects ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  grid-gap: 3.5rem 1.25rem;
  margin: 16px 0;
  margin: 16px var(--side-margins-non-widescreen);
}

#front-page .projects .project-for-display {
  flex: 0 0 360px;
  width: 360px;
  position: relative;
}

#front-page .projects .project-for-display .inactive-bar {
  background-color: var(--inactive-element);
  width: 100%;
  height: 3px;
  position: absolute;
}

#front-page .projects .project-for-display .active-bar {
  background-color: var(--primary-accent);
  width: 0%;
  height: 3px;
  position: absolute;
  left: 50%;
  transition: all .1s ease-out;
}

#front-page .projects .project-for-display:hover .active-bar {
  background-color: var(--primary-accent);
  width: 100%;
  height: 3px;
  left: 0;
  position: absolute;
}

#front-page .projects .project-for-display .image-wrapper {
  height: 200px;
  position: relative;
}

#front-page .projects .project-for-display .image-wrapper .angle-deco {
  border-left: 2px solid var(--primary-white);
  border-top: 2px solid var(--primary-white);
  position: absolute;
  width: 10px;
  height: 10px;
  visibility: hidden;
}

#front-page .projects .project-for-display:hover .image-wrapper .angle-deco {
  visibility: visible;
}

#front-page .projects .project-for-display .image-wrapper .angle-deco.upper-left {
  top: 20px;
  left: 20px;
}

#front-page .projects .project-for-display .image-wrapper .angle-deco.upper-right {
  transform: rotate(90deg);
  top: 20px;
  right: 20px;
}

#front-page .projects .project-for-display .image-wrapper .angle-deco.lower-right {
  transform: rotate(180deg);
  bottom: 20px;
  right: 20px;
}

#front-page .projects .project-for-display .image-wrapper .angle-deco.lower-left {
  transform: rotate(-90deg);
  bottom: 20px;
  left: 20px;
}

#front-page .projects .project-for-display .image-wrapper {
  overflow: hidden;
}

#front-page .projects .project-for-display .image-wrapper img {
  transform: scale(1.035);
  width: 360px;
  height: 200px;
}

#front-page .projects .project-for-display:hover .image-wrapper img {
  transform: scale(1);
  transition: all 0.1s ease-out;
}

#front-page .projects .project-for-display .info {
  margin: 1.313rem 2rem 1.85rem;
}

#front-page .projects .project-for-display .info .location-row .location-icon {
  color: var(--primary-accent);
  margin-right: 0.5rem;
}

#front-page .projects .project-for-display .info .location-row {
  margin-bottom: 0.225rem;
}

#front-page .projects .project-for-display .info .location-row .location-text {
  color: var(--indigo-light);
  font-weight: 700;
  font-size: 0.875rem;
}

#front-page .projects .project-for-display .info .title-row {
  font-size: 0.875rem;
  display: flex;
  margin: 0.5rem 0.25rem;
}

#front-page .projects .project-for-display .info .title-row .dots {
  margin-right: 1.5rem;
  align-items: center;
  justify-content: center;
}

#front-page .projects .project-for-display:hover .info .title-row .dots .dot {
  background-color: var(--primary-accent);
}

#front-page .projects .project-for-display .info .title-row .title-text {
  text-decoration: inherit;
  color: var(--primary-text);
  font-weight: 600;
  font-size: 1.25rem;
}

#front-page .projects .project-for-display:hover .info .title-row .title-text {
  text-decoration: underline;
}

#front-page .projects .show-more-button {
  margin: 1.80rem auto;
  position: initial;
}

#front-page .about-us {
  margin: 0 5rem 6.25rem;
  display: flex;
  flex: 0 0 100%;
  max-width: 1120px;
  align-self: center;
}

@media (max-width: 992px) {
  #front-page .about-us {
    flex-direction: column-reverse;
    max-width: 560px;
  }
}

#front-page .about-us .left-col {
  flex: 0 1 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-right: 3.5rem;
}

@media (max-width: 992px) {
  #front-page .about-us .left-col {
    justify-content: center;
    margin-top: 5rem;
    padding-right: 0;
  }
}

#front-page .about-us .left-col .image-wrapper {
  position: relative;
}

#front-page .about-us .left-col .image-wrapper img {
  width: 100%;
  max-width: 440px;
  max-height: 530px;
  z-index: 1;
}

#front-page .about-us .left-col .image-wrapper .bg {
  background-color: var(--inactive-element);
  opacity: 0.88;
  width: 53%;
  height: 53%;
  position: absolute;
  left: -12px;
  top: -12px;
  z-index: -1;
}

#front-page .about-us .left-col .image-wrapper .fg {
  background-color: var(--primary-dark-partial-transparent);
  position: absolute;
  bottom: 60px;
  right: -5%;
  display: flex;
  color: var(--primary-white);
  padding: 1.063rem 1.375rem;
  width: max-content;
  align-items: center;
  justify-content: center;
}

#front-page .about-us .left-col .image-wrapper .fg .number {
  font-family: 'Roboto';
  font-size: 3.25rem;
  font-weight: 500;
}

#front-page .about-us .left-col .image-wrapper .fg .alphabetical {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
  font-weight: 300;
}

#front-page .about-us .right-col {
  width: auto;
  flex: 0 0 50%;
  padding-left: 0.8rem;
}

#front-page .about-us .right-col .upper-col {
  display: flex;
  flex-direction: column;
}

#front-page .about-us .right-col .upper-col .label-above-header {
  font-weight: 800;
  color: var(--primary-accent);
  text-transform: uppercase;
}

#front-page .about-us .right-col .upper-col .header {
  font-weight: 800;
  color: var(--primary-text);
  font-size: 1.75rem;
  margin: 0.75rem 0 1.5rem;
  max-width: 400px;
}

#front-page .about-us .right-col .upper-col .dots {
  flex-direction: row;
}

#front-page .about-us .right-col .upper-col .dots .dot {
  background-color: var(--primary-accent);
}

#front-page .about-us .right-col .upper-col p {
  margin: 1.5rem 0 1.25rem;
}

#front-page .about-us .right-col .lower-row {
  display: flex;
}

#front-page .about-us .right-col .lower-row .advantage {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
}

#front-page .about-us .right-col .lower-row .advantage:first-of-type {
  padding-right: 10px;
}

#front-page .about-us .right-col .lower-row .advantage:last-of-type {
  padding-left: 10px;
}

#front-page .about-us .right-col .lower-row .advantage .title-row {
  display: flex;
  align-items: center;
}

#front-page .about-us .right-col .lower-row .advantage .title-row .icon {
  color: var(--primary-accent);
  width: 38px;
  height: 38px;
  fill: var(--primary-accent);
}

#front-page .about-us .right-col .lower-row .advantage .title-row .title-text {
  color: var(--primary-text);
  font-size: 1.25rem;
  font-weight: 800;
  width: 90px;
  margin-left: 1.25rem;
}

#front-page .about-us .right-col .lower-row .advantage:last-of-type .title-row .title-text {
  margin-left: 1.15rem;
}

#front-page .about-us .right-col .lower-row .advantage .divider {
  border: 1px solid var(--divider-gray-light);
  margin: 1rem 0;
}

#front-page .about-us .right-col .lower-row .advantage .paragraph {
  margin: 0 0 1rem;
}

#front-page .about-us .right-col .lower-row .advantage .read-more {
  color: #000;
  font-weight: 800;
}

#front-page .our-partners {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4.4rem;
}

#front-page .our-partners .bg {
  background: url('./assets/our-partners.jpg') no-repeat fixed bottom/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#front-page .our-partners .bg::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--primary-deep);
  opacity: 0.88;
  content: '';
}

#front-page .our-partners h2 {
  color: var(--primary-white);
  margin-top: 5rem;
  font-size: 1.75rem;
  font-weight: 800;
}

#front-page .our-partners ul {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1.25rem;
  padding: 0;
  justify-content: center;
  margin: 1rem var(--side-margins-non-widescreen)
}

@media (max-width: 1300px) {  
  #front-page .our-partners ul {
    width: 100%;
    max-width: 780px;
  }
}

@media (max-width: 768px) {  
  #front-page .our-partners ul {
    width: initial;
  }
}

#front-page .our-partners .partner {
  width: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#front-page .our-partners .partner .logo {
  fill: var(--primary-white);
  width: 200px;
  height: 100px;
}

#front-page .our-partners .partner .paragraph {
  color: var(--primary-white);
  font-weight: 200;
  text-align: center;
}

#front-page .our-partners .partner .name {
  color: var(--primary-accent);
  font-weight: 600;
}

#front-page .our-blog {
  margin-top: 6rem;
}

#front-page .our-blog h2 {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 1.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--primary-text);
}

#front-page .our-blog ul {
  display: flex;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
  grid-gap: 1.25rem;
  padding: 0 var(--side-margins-non-widescreen);
}

#front-page .our-blog .blog {
  color: var(--primary-text);
  flex: 0 0 360px;
  width: 360px;
  border: 1px solid #eee;
  padding: 0.938rem  0.938rem 1.56rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

#front-page .our-blog .blog img {
  width: 330px;
  height: 210px;
}

#front-page .our-blog .blog .date {
  position: absolute;
  font-family: 'Roboto';
  color: var(--primary-white);
  background-color: var(--primary-accent);
  top: 1.55rem;
  left: 1.55rem;
  padding: 0.312rem 0.938rem 0.25rem;
  font-weight: 800;
}

#front-page .our-blog .blog .title {
  margin-top: 1.56rem;
  color: var(--primary-text);
  font-weight: 800;
  border-left: 3px solid var(--primary-accent);
  padding-left: 0.86rem;
  text-transform: uppercase;
}

#front-page .our-blog .blog .paragraph {
  margin: 0.938rem 0;
  color: var(--primary-text);
  font-weight: 500;
}

#front-page .our-blog .blog .read-more {
  color: var(--primary-text);
  font-weight: 800;
}

#front-page .our-blog .blog .read-more {
  color: var(--primary-text);
  font-weight: 800;
}

#front-page .our-blog .more-blogs-link {
  flex: 0 0 360px;
  width: 360px;
  border: 1px solid #eee;
  padding: 0.938rem 0.938rem;
  position: relative;
}

#front-page .our-blog .more-blogs-link img {
  width: 330px;
  height: 412px;
}

#front-page .our-blog .more-blogs-link::before {
  position: absolute;
  width: 330px;
  height: 412px;
  background: var(--overlay-gray-transparent);
  opacity: 0.94;
  content: '';
}

#front-page .our-blog .more-blogs-link .centered-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-text);
  font-weight: 500;
  font-size: 1.15rem;
}

#front-page .our-blog .indicator {
  margin: 3.25rem 0 4.375rem;
  display: flex;
  justify-content: center;
  grid-gap: 0.8rem;
}

#front-page .our-blog .indicator>* {
  height: 5px;
  background-color: var(--inactive-element);
  width: 25px;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  #projects {
    height: 873px;
  }
}

#projects .page-header {
  text-align: center;
  max-width: 440px;
  margin: 0 auto 3.125rem;
}

#projects .page-header h1 {
  font-size: 1.5625rem;
  font-weight: 900;
  margin: 4.375rem 0 1.5625rem;
  text-transform: uppercase;
}

#projects ul {
  display: flex;
  grid-template-columns: 360px 360px 360px;
  grid-gap: 1.25rem;
  padding: 0;
  max-width: 1120px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 31px 4.5rem;
}

@media (max-width: 767px) {
  #projects ul {
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    padding-left: 1rem;
    justify-content: flex-start;
    width: 100%;
  }
}

#projects ul .col-of-two {
  display: flex;
  flex-direction: column;
  grid-gap: 1.25rem;
  flex: 0 0 360px;
}

#projects ul .col-of-one {
  flex: 0 0 360px;
}

#projects .img-wrapper {
  position: relative;
  opacity: 0;
  transition: transform 0.35s ease-out;
}

#projects .img-wrapper.anim-1 {
  transform: translate(-20px, -20px);
}

#projects .img-wrapper.anim-2 {
  transform: translate(20px, -20px);
}

#projects .img-wrapper.anim-3 {
  transform: translate(-20px, 20px);
}

#projects .img-wrapper.anim-4 {
  transform: translate(20px, 20px);
}

#projects .img-wrapper.show {
  opacity: 1;
  transform: none;
}

#projects .img-wrapper .overlay {
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  transition: all 0.075s linear;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects .img-wrapper:hover .overlay, #projects .img-wrapper .overlay:focus-within {
  opacity: 1;
}

#projects .img-wrapper .overlay .client {
  font-size: 0.875rem;
  font-weight: 200;
}

#projects .img-wrapper .overlay .name {
  text-transform: uppercase;
  font-weight: 900;
  margin: 0.75rem 0 1rem;
}

#projects .img-wrapper .overlay .read-more {
  text-decoration: underline;
  font-weight: 900;
  color: var(--primary-text-light);
}

#projects .img-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 750px;
  max-height: 750px;
}

#projects .img-wrapper.sm {
  width: 360px;
  height: 230px;
  overflow: hidden;
}

#projects .img-wrapper.lg {
   flex: 0 0 360px;
   height: 480px;
   overflow: hidden;
}

#footer {
  background-color: var(--primary-dark);
  width: 100%;
  position: absolute;
}

#footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "first-col second-col third-col fourth-col";
  padding: 3.9rem var(--side-margins-non-widescreen);
  grid-gap: 1.25rem;
  position: relative;
  max-width: 1100px;
  margin: auto;
}

@media (max-width: 992px) {
  #footer .wrapper {
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "first-col fourth-col"
    "second-col third-col";
  }
}

@media (max-width: 992px) {
  #footer .wrapper {
    justify-content: center;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-areas:
    ". first-col ."
    "second-col third-col fourth-col";
    padding: 3.9rem var(--side-margins);
    grid-gap: 0;
  }
}

@media (max-width: 767px) {
  #footer .wrapper {
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "first-col ."
    "second-col third-col"
    "fourth-col .";
    padding: 1.3rem var(--side-margins) 6.5rem;
    grid-gap: 1.25rem;
  }
}

#footer h2 {
  color: var(--primary-white);
  margin-top: 0;
}

#footer ul {
  padding: 0;
}

#footer .divider {
  border-bottom: 3px solid var(--primary-accent);
  width: 1.7rem;
  margin: 1.65rem 0 2rem;
}

#footer .first-col {
  grid-area: first-col;
  margin-bottom: 2.5rem;
  max-width: 308px;
}

@media (max-width: 767px) {
  #footer .first-col {
    position: relative;
    top: 50%;
    left: 55%;
    transform: translateY(-50%);
  }
}

#footer .first-col .logo {
  margin-bottom: 2.5rem;
}

#footer .paragraph {
  color: var(--primary-text-light);
}

#footer .second-col h2 {
  color: var(--primary-white);
}

#footer .second-col {
  justify-self: center;
  grid-area: second-col;
}

#footer .second-col ul, #footer .third-col ul {
  display: flex;
  flex-direction: column;
  grid-gap: 1.65rem;
}

#footer .third-col {
  grid-area: third-col;
}

#footer .second-col ul .nav-button, #footer .third-col ul .nav-button {
  padding-left: 0;
}

#footer .second-col ul .nav-button:hover, #footer .third-col ul .nav-button:hover {
  text-decoration: underline;
  color: var(--primary-accent);
}

#footer .fourth-col {
  grid-area: fourth-col;
}

@media (max-width: 767px) {
  #footer .fourth-col {
    position: relative;
    top: 50%;
    left: 55%;
    transform: translateY(-50%);
  }
}

#footer .fourth-col ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  grid-gap: 0.75rem;
}

#footer .fourth-col ul svg {
  border-radius: var(--styled-border-radius);
  border: 1px solid var(--inactive-element);
}

#footer .fourth-col ul svg:hover {
  color: var(--primary-white);
  background-color: var(--primary-accent);
}

#footer .fourth-col .paragraph {
  margin: -0.25rem 0 1.5rem;
}

#footer .to-top-button {
  position: absolute;
  bottom: 1.875rem;
  right: 1.875rem;
  padding: 1.175rem 1.188rem;
  display: initial;
  height: 53.59px;
  width: 55px;
}
