:root {
  --primary-accent: #f88500;
  --secondary-accent: #faa722;
  --primary-text: #333;
  --primary-text-light: #999;
  --primary-dark: #202328;
  --primary-dark-partial-transparent: rgba(32, 35, 40, 0.9);
  --primary-dark-transparent: rgba(32, 35, 40, 0.2);
  --primary-dark-light: #6F7888;
  --primary-deep: #171A1A;
  --primary-white: #FAFAFA;
  --primary-white-light-transparent: rgba(250, 250, 250, 0.5);
  --primary-gray-light-transparent: rgba(196, 196, 196, 0.3);
  --warning-red-light: rgba(255, 0, 0, 0.5);
  --success-green-light: #1dad00;
  --overlay-gray-transparent: rgba(249, 251, 255, 0.97);
  --divider-gray: #323232;
  --divider-gray-light: #E4E4E4;
  --indigo-light: #989DA5;
  --inactive-element: rgba(152, 157, 165, 0.33);
  --side-margins: 15vw;
  --side-margins-non-widescreen: 5rem;
  --styled-border-radius: 0 5px 0 5px;
  --styled-border-radius-lg: 0 10px 0 10px;
  --navbar-height: 115px;
  --footer-height: 477px;
}

@media (max-width: 1400px) {
  :root {
    --side-margins: 5rem;
  }
}

@media (max-width: 992px) {
  :root {
    --navbar-height: 184px;
  }
}

@media (max-width: 576px) {
  :root {
    --side-margins: 1.25rem;
    --side-margins-non-widescreen: 1.25rem;
  }
}

*,::after,::before {
box-sizing: border-box;
}

body, html {
  font-family: 'Raleway';
  margin: 0;
}

#main-routes-content {
  padding-top: var(--navbar-height);
  min-height: calc(100vh - var(--footer-height));
}

button {
  all: unset;
  cursor: pointer;
}

button:disabled {
  pointer-events:none;
  opacity: 0.35 
}

.button {
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-white);
  background-color: var(--primary-accent);
  padding: 0.988rem 1.775rem;
  width: max-content;
  border-radius: var(--styled-border-radius);
  transition: all 0.1s linear;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  grid-gap: 0.25rem;
}

.button.blank {
  background-color: rgba(0, 0, 0, 0);
  color: var(--primary-dark);
}

.button.icon-button {
  padding: 0.66rem;
  background-color: rgba(0, 0, 0, 0);
  color: var(--primary-dark);
  
}

.button:focus {
  outline: 3px solid var(--primary-dark-light);
}

.button:hover {
  filter: brightness(1.2);
}

li {
  list-style-type: none;
}

p {
  line-height: 200%;
  font-size: 0.875rem;
}

.input, .textarea {
  border: 1px solid var(--inactive-element);
  border-radius: var(--styled-border-radius);
  padding: 0.775rem 1rem;
}

.input.warn, .textarea.warn {
  border: 1px solid var(--warning-red-light);
}

.input, .textarea, .input::placeholder, .textarea::placeholder {
  color: var(--indigo-light);
  font-weight: 300;
  font-size: 0.938rem;
  opacity: 0.85;
}

.textarea {
  font-family: 'Raleway';
  height: 126px;
}

.textarea::placeholder {
  font-weight: 500;
}

.textarea:focus-visible, input:focus-visible {
  outline: var(--primary-accent) auto 1px;
}

.hidden {
  visibility: hidden;
}

.blocked {
  pointer-events: none;
  opacity: 0.25;
}

.blocked-alt {
  pointer-events: none;
  opacity: 0.5;
}

.loading-screen {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-dark);
}

.dots {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.dots .dot {
  width: 5px;
  height: 5px;
  background-color: var(--inactive-element);
  border-radius: 50%;
}

.nav-button {
  color: #fff;
  text-decoration: none;
  padding: 0.438rem 1vw;
  font-size: 0.875rem;
}

.nav-button {
  color: #fff;
  text-decoration: none;
  padding: 0.438rem 1vw;
  font-size: 0.875rem;
}

@media (max-width: 576px) {
  .nav-button {
    padding: 0.75rem;
  }
}

.soc-media-icons {
  display: flex;
  align-items: center;
  padding: 0 0.4rem;
  list-style-type: none;
  text-decoration: none;
  height: max-content;
  margin: 0;
  background-color: var(--primary-dark-transparent);
  border-radius: var(--styled-border-radius);
}

@media (max-width: 992px) {
  .soc-media-icons {
    padding: 0.538rem 0.838rem;
  }
}

.soc-media-icons svg {
  color: var(--primary-white-light-transparent);
  padding: 0.438rem;
}

@media (max-width: 992px) {
  .soc-media-icons svg {
    padding: 0.538rem 0.838rem;
  }
}

.soc-media-icons svg:hover {
  color: var(--primary-white);
}

.location-icon {
  display: flex;
  margin-bottom: 0.225rem;
}

.location-icon .icon {
  color: var(--primary-accent);
  margin-right: 0.5rem;
}

.location-icon .text {
  color: var(--indigo-light);
  font-weight: 700;
  font-size: 0.875rem;
}

.page-header {
  color: var(--primary-text);
  text-align: center;
  max-width: 440px;
  margin: 0 auto 3.125rem;
}

.page-header h1 {
  font-size: 1.5625rem;
  font-weight: 900;
  margin: 4.375rem 0 1.5625rem;
  text-transform: uppercase;
}

.blog-card {
  color: var(--primary-text);
  flex: 0 0 360px;
  width: 360px;
  height: 440px;
  border: 1px solid #eee;
  padding: 0.938rem  0.938rem 1.56rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.blog-card img {
  width: 330px;
  height: 210px;
}

.blog-card .date {
  position: absolute;
  font-family: 'Roboto';
  color: var(--primary-white);
  background-color: var(--primary-accent);
  top: 1.55rem;
  left: 1.55rem;
  padding: 0.312rem 0.938rem 0.25rem;
  font-weight: 800;
}

.blog-card .title {
  margin-top: 1.56rem;
  color: var(--primary-text);
  font-weight: 800;
  border-left: 3px solid var(--inactive-element);
  padding-left: 0.86rem;
  text-transform: uppercase;
}

.blog-card:hover .title, .blog-card:focus .title {
  border-left: 3px solid var(--primary-accent);
}

.blog-card p {
  margin: 0.938rem 0;
  color: var(--primary-text);
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.blog-card .read-more {
  color: var(--primary-text);
  font-weight: 800;
}

.blog-card:hover .read-more, .blog-card:focus .read-more {
  color: var(--primary-accent);
  text-decoration: underline;
}

.ReactModal__Overlay {
  z-index: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  position: fixed;
  z-index: 999;
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  inset: '';
  transform: translate(-50%, -50%);
  padding: 0;
  border-radius: var(--styled-border-radius-lg);
  outline: none;
}

.modal .modal-lower-row {
  display: flex;
  justify-content: flex-end;
  margin: 0 2rem 2rem 0;
  width: 100%;
  height: max-content;
}

.modal .modal-header {
  background-color: var(--secondary-accent);
  padding: 0rem 0.75rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-top-right-radius: 10px;
}

.modal .modal-header h4 {
  margin: 1rem 0;
}

.modal .modal-header .button {
  padding: 0.25rem;
}

.modal .modal-header .button:hover {
  filter: brightness(1.05)
}

.modal .modal-body {
  color: var(--primary-text);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.contact-success-modal .modal-body {
  align-items: center;
  grid-gap: 1rem;
}

#navbar .nav-buttons-ul .nav-button:hover {
  background-color: var(--primary-gray-light-transparent);
  border-radius: var(--styled-border-radius);
  color: #fff;
}

#navbar {
  background-color: rgba(0,0,0,calc(1 * 1v));
  border-radius: 0px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  font-weight: 500;
  height: auto;
  padding: 2.5rem var(--side-margins);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 992px) {
  #navbar {
    flex-direction: column;
    grid-gap: 1rem;
    padding: 1.5rem 5rem 0.5rem;
  }
}

@media (max-width: 576px) {
  #navbar {
    padding: 1.5rem 0rem 0.5rem;
  }
}

#navbar .logo {
  position: relative;
  top: 10px;
}

#navbar .logo {
  height: 34px;
}

#navbar .nav-buttons-ul {
  display: flex;
  grid-gap:  0.6vw;
  align-items: center;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
}

@media (max-width: 992px) {
  #navbar .nav-buttons-ul {
    margin-top: 0.85rem;
  }
}

#navbar.dark .nav-button {
  color: var(--primary-text);
}

#navbar.dark .nav-button:hover {
  color: var(--primary-white);
  background-color: var(--primary-accent);
}

#navbar.dark .soc-media-icons {
  background-color: transparent;
}

#navbar.dark .soc-media-icons svg {
  color: var(--primary-dark-light);
}

#navbar.dark .soc-media-icons svg:hover {
  color: var(--primary-text);
}

#front-page {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -115px;
}

@media (max-width: 992px) {
  #front-page {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -184px;
  }
}

#front-page .slider {
  position: relative;
}

#front-page .slider img::before {
  position: absolute;
  width: 100%;
  height: 100px;
  background: linear-gradient(0.5turn, rgba(0,0,0,0.35), rgba(0,0,0,0));
  z-index: 1;
  content: '';
}

@media (max-width: 992px) {
  #front-page .slider img::before {
    height: 200px;
  }
}

#front-page .slider img {
  height: 630px;
  background-color: var(--primary-dark);
  color: var(--primary-dark);
}

#front-page .slider .image-wrapper {
  background: transparent;
  outline: none;
}

#front-page .slider .slider-image-1 {
  background: url('./assets/images/header-1.jpg') no-repeat fixed bottom/cover;
}

#front-page .slider .slider-image-2 {
  background: url('./assets/images/header-2.jpg') no-repeat fixed bottom/cover;
}

#front-page .slider .slider-image-3 {
  background: url('./assets/images/header-3.jpg') no-repeat fixed bottom/cover;
}

#front-page .slider .control-panel {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-top-left-radius: 5px;
  right: 10px;
  bottom: 9px;
  min-height: 90px;
  padding-left: 2.2rem;
  padding-right: 1.3rem;
  background-color: var(--primary-dark);
  color: var(--primary-white);
}

@media (max-width: 767px) {
  #front-page .slider .control-panel {
    width: 100%;
  }
}

#front-page .slider .control-panel .page-numbers {
  font-family: 'Roboto';
  display: flex;
  position: relative;
  color: var(--primary-dark-light);
  grid-gap: 1rem;
  margin-right: 1.562rem;
}

@media (max-width: 767px) {
  #front-page .slider .control-panel .page-numbers {
    margin-left: 1.681rem;
  }
}

#front-page .slider .control-panel .page-numbers .current-page {
  font-size: 0.938rem;
}

#front-page .slider .control-panel .page-numbers .divider {
  border: 1px solid rgba(111, 120, 136, 0.19);
  position: absolute;
  height: 25px;
  left: 54%;
  bottom: -3px;
  transform: translateX(-50%);
}

#front-page .slider .control-panel .page-numbers .total-pages {
  opacity: 0.35;
  font-size: 0.75rem;
  align-items: center;
  display: flex;
}

#front-page .slider .control-panel .scroll-bar {
  position: relative;
  width: 180px;
  bottom: 2px;
}

#front-page .slider .control-panel .scroll-bar-empty {
  position: absolute;
  width: 180px;
  height: 5px;
  border-radius: 33px;
  background-color: rgba(0, 0, 0, 0.2);
}

#front-page .slider .control-panel .scroll-bar-progress {
  background-color: #000;
  position: absolute;
  width: 60px;
  height: 5px;
  border-radius: 33px;
  transition: all 0.2s linear;
  left: 0px;
}

#front-page .slider .control-panel .scroll-bar-progress.middle {
  left: 60px;
}

#front-page .slider .control-panel .scroll-bar-progress.end {
  left: 120px;
}

#front-page .slider .control-panel .buttons {
  margin-left: 0.781rem;
  display: flex;
}

#front-page .slider .control-panel .buttons button {
  background: none;
	color: inherit;
	border: none;
	padding: 1rem;
	cursor: pointer;
	outline: inherit;
  margin: 0;
}

#front-page .slider .control-panel .buttons button:hover>*:not(.blocked) {
	color: var(--primary-white);
}

#front-page .slider .control-panel .buttons button .blocked {
  pointer-events: none;
}

#front-page .slider .control-panel .buttons .arrow-left {
  color: var(--primary-dark-light);
}

#front-page .slider .control-panel .buttons .arrow-left:focus {
  outline: solid;
}

#front-page .slider .control-panel .buttons .arrow-right {
  color: var(--primary-dark-light);
}

#front-page .slider .control-panel .buttons .arrow-right:focus {
  outline: solid;
}

#front-page .slider .bg {
  background-color: var(--primary-dark);
  width: 100%;
  height: 650px;
  padding: 0.625rem;
}

#front-page .slider .bg .fg-header {
  position: absolute;
  left: var(--side-margins);
  top: 200px;
  z-index: 2;
  color: var(--primary-white);
  font-weight: 100;
}

@media (max-width: 992px) {
  #front-page .slider .bg .fg-header {
    left: 50%;
    transform: translateX(-50%);
  }
}

#front-page .slider .bg .fg-header h1 {
  font-weight: 100;
  margin: 0;
  font-size: 3rem;
}

#front-page .slider .bg .fg-header h2 {
  background-color: var(--primary-accent);
  border-radius: var(--styled-border-radius);
  padding: 0.25rem 1.25rem;
  text-align: center;
  font-size: 1rem;
  width: 171px;
  font-weight: 400;
  margin: 0.85rem 0 1.15rem;
}

#front-page .slider .bg .fg-header p {
  line-height: 170%;
  background-color: var(--primary-dark);
  opacity: 0.85;
  padding: 0.938rem 1.25rem;
  border-radius: var(--styled-border-radius);
  width: 370px;
  font-size: 0.875rem;
}

#front-page .statistics {
  background-color: var(--primary-deep);
  display: flex;
  justify-content: space-between;
  padding: 54px var(--side-margins);
}

@media (max-width: 767px) {
  #front-page .statistics {
    flex-direction: column-reverse;
    align-items: center;
  }
}

#front-page .statistics .left-col {
  color: var(--primary-dark-light);
  font-size: 0.875rem;
  text-transform: uppercase;
  width: auto;
  flex: 1 0 63.33%;
  max-width: 700px;
}

@media (max-width: 767px) {
  #front-page .statistics .left-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
}

#front-page .statistics .left-col .divider {
  border: 1px solid var(--divider-gray);
  opacity: 0.5;
  width: 220px;
  margin: 1.2rem 0 1rem;
}

#front-page .statistics .left-col .stats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 21px));
  grid-gap: 1.2rem 20px;
}

@media (max-width: 767px) {
  #front-page .statistics .left-col .stats {
    display: grid;
    grid-gap: 1.2rem 20px;
    grid-template-columns: repeat(2, auto);
  }
}

#front-page .statistics .left-col .stats .figure {
  font-family: 'Roboto';
  font-weight: 700;
}

#front-page .statistics .right-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  text-align: right;
}

@media (max-width: 767px) {
  #front-page .statistics .right-col {
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }
}

#front-page .statistics .right-col .desc {
  color: var(--primary-dark-light);
  line-height: 165%;
  font-size: 0.80rem;

}

#front-page .statistics .right-col .phone-num {
  font-family: 'Roboto';
  color: var(--primary-white);
  font-weight: 300;
  font-size: 1.7rem;
  margin: 0.66rem 0 1.18rem;
}

#front-page .projects {
  position: relative;
}

#front-page .projects .upper-row {
  display: flex;
  align-items: center;
  background-color: var(--primary-dark);
  justify-content: center;
  padding-bottom: 100px;
}

@media (max-width: 767px) {  
  #front-page .projects .upper-row {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
  }
}

#front-page .projects .upper-row .left-col {
  width: auto;
  flex: 0 0 50%;
  text-align: right;
}

#front-page .projects .upper-row .left-col p {
  color: var(--primary-white);
  font-weight: 300;
  letter-spacing: 0.25px;
  margin: 70px 50px 70px var(--side-margins);
}

@media (max-width: 992px) {  
  #front-page .projects .upper-row .left-col p {
    font-size: 0.75rem;
  }
}

@media (max-width: 767px) {  
  #front-page .projects .upper-row .left-col p {
    text-align: center;
    font-size: 0.875rem;
    margin: 70px var(--side-margins) 0px var(--side-margins);
  }
}

#front-page .projects .divider {
  border: 1px solid var(--divider-gray);
  opacity: 0.5;
  height: 157px;
  width: 0;
  margin: 1.2rem 0 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  #front-page .projects .divider {
    visibility: hidden;
  }
}

#front-page .projects .upper-row .right-col {
  width: auto;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
}

#front-page .projects .upper-row .right-col .headers>* {
  margin: 0.775rem 0;
}

#front-page .projects .upper-row .right-col .headers {
  margin: 70px var(--side-margins) 70px 50px;
}

@media (max-width: 767px) {  
  #front-page .projects .upper-row .right-col .headers {
    margin: 40px var(--side-margins) 70px var(--side-margins);
  }
}

#front-page .projects .upper-row .right-col h3 {
  color: var(--primary-accent);
}

#front-page .projects .upper-row .right-col h2 {
  color: var(--primary-white);
}

#front-page .projects .projects-ul-wrapper {
  position: relative;
  bottom: 120px;
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: auto;
}

#front-page .projects ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  grid-gap: 3.5rem 1.25rem;
  margin: 16px 0;
  margin: 16px var(--side-margins-non-widescreen);
}

#front-page .projects .project-for-display {
  flex: 0 0 360px;
  width: 360px;
  position: relative;
}

#front-page .projects .project-for-display .inactive-bar {
  background-color: var(--inactive-element);
  width: 100%;
  height: 3px;
  position: absolute;
}

#front-page .projects .project-for-display .active-bar {
  background-color: var(--primary-accent);
  width: 0%;
  height: 3px;
  position: absolute;
  left: 50%;
  transition: all .1s ease-out;
}

#front-page .projects .project-for-display:hover .active-bar {
  background-color: var(--primary-accent);
  width: 100%;
  height: 3px;
  left: 0;
  position: absolute;
}

#front-page .projects .project-for-display .image-wrapper {
  height: 200px;
  position: relative;
}

#front-page .projects .project-for-display .image-wrapper .angle-deco {
  border-left: 2px solid var(--primary-white);
  border-top: 2px solid var(--primary-white);
  position: absolute;
  width: 10px;
  height: 10px;
  visibility: hidden;
}

#front-page .projects .project-for-display:hover .image-wrapper .angle-deco {
  visibility: visible;
}

#front-page .projects .project-for-display .image-wrapper .angle-deco.upper-left {
  top: 20px;
  left: 20px;
}

#front-page .projects .project-for-display .image-wrapper .angle-deco.upper-right {
  transform: rotate(90deg);
  top: 20px;
  right: 20px;
}

#front-page .projects .project-for-display .image-wrapper .angle-deco.lower-right {
  transform: rotate(180deg);
  bottom: 20px;
  right: 20px;
}

#front-page .projects .project-for-display .image-wrapper .angle-deco.lower-left {
  transform: rotate(-90deg);
  bottom: 20px;
  left: 20px;
}

#front-page .projects .project-for-display .image-wrapper {
  overflow: hidden;
}

#front-page .projects .project-for-display .image-wrapper img {
  transform: scale(1.035);
  width: 360px;
  height: 200px;
}

#front-page .projects .project-for-display:hover .image-wrapper img {
  transform: scale(1);
  transition: all 0.1s ease-out;
}

#front-page .projects .project-for-display .info {
  margin: 1.313rem 2rem 1.85rem;
}

#front-page .projects .project-for-display .info .title-row {
  font-size: 0.875rem;
  display: flex;
  margin: 0.5rem 0.25rem;
}

#front-page .projects .project-for-display .info .title-row .dots {
  margin-right: 1.5rem;
  align-items: center;
  justify-content: center;
}

#front-page .projects .project-for-display:hover .info .title-row .dots .dot {
  background-color: var(--primary-accent);
}

#front-page .projects .project-for-display .info .title-row .title-text {
  text-decoration: inherit;
  color: var(--primary-text);
  font-weight: 600;
  font-size: 1.25rem;
}

#front-page .projects .project-for-display:hover .info .title-row .title-text {
  text-decoration: underline;
}

#front-page .projects .show-more-button {
  margin: 1.80rem auto;
  position: initial;
}

#front-page .about-us {
  margin: 0 5rem 6.25rem;
  display: flex;
  flex: 0 0 100%;
  max-width: 1120px;
  align-self: center;
}

@media (max-width: 992px) {
  #front-page .about-us {
    flex-direction: column-reverse;
    max-width: 560px;
  }
}

#front-page .about-us .left-col {
  flex: 0 1 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-right: 3.5rem;
}

@media (max-width: 992px) {
  #front-page .about-us .left-col {
    justify-content: center;
    margin-top: 5rem;
    padding-right: 0;
  }
}

#front-page .about-us .left-col .image-wrapper {
  position: relative;
}

#front-page .about-us .left-col .image-wrapper img {
  width: 100%;
  max-width: 440px;
  max-height: 530px;
  z-index: 1;
}

#front-page .about-us .left-col .image-wrapper .bg {
  background-color: var(--inactive-element);
  opacity: 0.88;
  width: 53%;
  height: 53%;
  position: absolute;
  left: -12px;
  top: -12px;
  z-index: -1;
}

#front-page .about-us .left-col .image-wrapper .fg {
  background-color: var(--primary-dark-partial-transparent);
  position: absolute;
  bottom: 60px;
  right: -5%;
  display: flex;
  color: var(--primary-white);
  padding: 1.063rem 1.375rem;
  width: max-content;
  align-items: center;
  justify-content: center;
}

#front-page .about-us .left-col .image-wrapper .fg .number {
  font-family: 'Roboto';
  font-size: 3.25rem;
  font-weight: 500;
}

#front-page .about-us .left-col .image-wrapper .fg .alphabetical {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
  font-weight: 300;
}

#front-page .about-us .right-col {
  width: auto;
  flex: 0 0 50%;
  padding-left: 0.8rem;
}

#front-page .about-us .right-col .upper-col {
  display: flex;
  flex-direction: column;
}

#front-page .about-us .right-col .upper-col .label-above-header {
  font-weight: 800;
  color: var(--primary-accent);
  text-transform: uppercase;
}

#front-page .about-us .right-col .upper-col .header {
  font-weight: 800;
  color: var(--primary-text);
  font-size: 1.75rem;
  margin: 0.75rem 0 1.5rem;
  max-width: 400px;
}

#front-page .about-us .right-col .upper-col .dots {
  flex-direction: row;
}

#front-page .about-us .right-col .upper-col .dots .dot {
  background-color: var(--primary-accent);
}

#front-page .about-us .right-col .upper-col p {
  margin: 1.5rem 0 1.25rem;
}

#front-page .about-us .right-col .lower-row {
  display: flex;
}

.advantage {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
}

#front-page .about-us .right-col .lower-row .advantage:first-of-type {
  padding-right: 10px;
}

#front-page .about-us .right-col .lower-row .advantage:last-of-type {
  padding-left: 10px;
}

.advantage .title-row {
  display: flex;
  align-items: center;
}

.advantage .title-row .icon {
  color: var(--primary-accent);
  width: 38px;
  height: 38px;
  fill: var(--primary-accent);
}

.advantage .title-row .title-text {
  color: var(--primary-text);
  font-size: 1.25rem;
  font-weight: 800;
  width: 90px;
  margin-left: 1.25rem;
}

#company #advantages .advantage .divider.company-page {
  display: none;
}

#front-page .about-us .right-col .lower-row .advantage:last-of-type .title-row .title-text {
  margin-left: 1.15rem;
}

.advantage .divider {
  border: 1px solid var(--divider-gray-light);
  margin: 1rem 0;
}

.advantage p {
  margin: 0 0 1rem;
}

.advantage .read-more {
  color: #000;
  font-weight: 800;
}

.advantage .read-more:hover {
  color: var(--primary-accent);
}

#front-page .our-partners {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4.4rem;
}

#front-page .our-partners .bg {
  background: url('./assets/images/our-partners.jpg') no-repeat fixed bottom/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#front-page .our-partners .bg::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--primary-deep);
  opacity: 0.88;
  content: '';
}

#front-page .our-partners h2 {
  color: var(--primary-white);
  margin-top: 5rem;
  font-size: 1.75rem;
  font-weight: 800;
}

#front-page .our-partners ul {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1.25rem;
  padding: 0;
  justify-content: center;
  margin: 1rem var(--side-margins-non-widescreen)
}

@media (max-width: 1300px) {  
  #front-page .our-partners ul {
    width: 100%;
    max-width: 780px;
  }
}

@media (max-width: 768px) {  
  #front-page .our-partners ul {
    width: initial;
  }
}

#front-page .our-partners .partner {
  width: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#front-page .our-partners .partner .logo {
  fill: var(--primary-white);
  width: 200px;
  height: 100px;
}

#front-page .our-partners .partner p {
  color: var(--primary-white);
  font-weight: 200;
  text-align: center;
}

#front-page .our-partners .partner .name {
  color: var(--primary-accent);
  font-weight: 600;
}

#front-page .our-blog {
  margin-top: 6rem;
}

#front-page .our-blog h2 {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 1.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--primary-text);
}

#front-page .our-blog ul {
  display: flex;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
  grid-gap: 1.25rem;
  padding: 0 var(--side-margins-non-widescreen);
}

#front-page .our-blog .more-blogs-link {
  flex: 0 0 360px;
  width: 360px;
  border: 1px solid #eee;
  padding: 0.938rem 0.938rem;
  position: relative;
}

#front-page .our-blog .more-blogs-link img {
  width: 330px;
  height: 412px;
}

#front-page .our-blog .more-blogs-link::before {
  position: absolute;
  width: 330px;
  height: 412px;
  background: var(--overlay-gray-transparent);
  opacity: 0.94;
  content: '';
}

#front-page .our-blog .more-blogs-link .centered-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-text);
  font-weight: 500;
  font-size: 1.15rem;
}

#front-page .our-blog .indicator {
  margin: 3.25rem 0 4.375rem;
  display: flex;
  justify-content: center;
  grid-gap: 0.8rem;
}

#front-page .our-blog .indicator>* {
  height: 5px;
  background-color: var(--inactive-element);
  width: 25px;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  #projects {
    height: 873px;
  }
}

#projects ul {
  display: flex;
  grid-template-columns: 360px 360px 360px;
  grid-gap: 1.25rem;
  padding: 0;
  max-width: 1120px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 31px 4.5rem;
}

@media (max-width: 767px) {
  #projects ul {
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    padding-left: 1rem;
    justify-content: flex-start;
    width: 100%;
  }
}

#projects ul .col-of-two {
  display: flex;
  flex-direction: column;
  grid-gap: 1.25rem;
  flex: 0 0 360px;
}

#projects ul .col-of-one {
  flex: 0 0 360px;
}

#projects .img-wrapper {
  position: relative;
  opacity: 0;
  transition: transform 0.35s ease-out;
}

#projects .img-wrapper.anim-1 {
  transform: translate(-20px, -20px);
}

#projects .img-wrapper.anim-2 {
  transform: translate(20px, -20px);
}

#projects .img-wrapper.anim-3 {
  transform: translate(-20px, 20px);
}

#projects .img-wrapper.anim-4 {
  transform: translate(20px, 20px);
}

#projects .img-wrapper.show {
  opacity: 1;
  transform: none;
}

#projects .img-wrapper .overlay {
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  transition: all 0.075s linear;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects .img-wrapper:hover .overlay, #projects .img-wrapper .overlay:focus-within {
  opacity: 1;
}

#projects .img-wrapper .overlay .client {
  font-size: 0.875rem;
  font-weight: 200;
}

#projects .img-wrapper .overlay .name {
  text-transform: uppercase;
  font-weight: 900;
  margin: 0.75rem 0 1rem;
}

#projects .img-wrapper .overlay .read-more {
  text-decoration: underline;
  font-weight: 900;
  color: var(--primary-text-light);
}

#projects .img-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 750px;
  max-height: 750px;
}

#projects .img-wrapper.sm {
  width: 360px;
  height: 230px;
  overflow: hidden;
}

#projects .img-wrapper.lg {
   flex: 0 0 360px;
   height: 480px;
   overflow: hidden;
}

.breadcrumb-trail {
  display: flex;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--primary-text-light);
}

.breadcrumb-trail>* {
  display: flex;
}

.breadcrumb-trail .angle {
  margin: 0 0.4rem;
}

.breadcrumb-trail .previous {
  display: flex;
  text-decoration: underline;
  color: var(--primary-text-light);
  text-transform: capitalize;
}

.breadcrumb-trail .current {
  font-weight: 800;
}

.breadcrumb-trail a:hover {
  color: var(--primary-accent);
}

#project-page {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  padding-right: 5rem;
  align-items: center;
}

@media (max-width: 992px) {  
  #project-page {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

#project-page>* {
  max-width: 100%;
}

#project-page .wrapper {
  max-width: 1120px;
  width: 100%;
}

#project-page .upper-row {
  margin-top: 4.375rem;
  margin-bottom: 1.875rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#project-page .slider {
  position: relative;
  overflow-x: hidden;
}

@media (max-width: 992px) {
  #project-page .slider img::before {
    height: 200px;
  }
}

#project-page .slider .cover-image {
  height: 630px;
  width: 100%;
  object-fit: cover;
}

#project-page .slider .thumbnails {
  position: relative;
  display: flex;
  grid-gap: 0.313rem;
  flex-shrink: 0;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

#project-page .slider .thumbnails .thumbnail {
  flex: 0 0 142px;
  height: 80px;
  width: 142px;
  object-fit: cover;
  border: 2px solid var(--primary-dark-light);
}

#project-page .slider .thumbnails .thumbnail.selected {
  border: 2px solid var(--primary-accent);
}

#project-page .slider .thumbnails-wrapper {
  width: 100%;
  position: relative;
}

#project-page .slider .thumbnails-wrapper .scroll-button {
  z-index: 1;
  right: initial;
  border-radius: var(--styled-border-radius);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 80px;
  width: 30px;
  opacity: 0;
}

#project-page .slider .thumbnails-wrapper .scroll-button.shown {
  opacity: 1;
}

#project-page .slider .thumbnails-wrapper .scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.65);
}

#project-page .slider .thumbnails-wrapper .scroll-button:focus {
  outline: solid;
}

#project-page .slider .thumbnails-wrapper .scroll-button.left {
  left: 0;
  top: 0;
  border-radius: var(--styled-border-radius);
  transform: rotate(180deg);
}

#project-page .slider .thumbnails-wrapper .scroll-button.right {
  right: 0;
  top: 0;
  border-radius: var(--styled-border-radius);
}

#project-page .slider .thumbnails-wrapper .scroll-button .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#project-page h1 {
  font-size: 1.75rem;
  font-weight: 900;
  margin: 3.438rem 0 3.125rem;
  text-align: center;
}

#project-page .lower-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1200px) {  
  #project-page .lower-row {
    flex-direction: column;
    align-items: center;
  }
}

#project-page .lower-row .left-col {
  flex: 0 0 66.66%;
  width: 66.66%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2.188rem;
}

@media (max-width: 767px) {  
  #project-page .lower-row .left-col {
    flex: 0 0 100%;
    width: 100%;
    justify-content: center;
  }
}

#project-page .lower-row .left-col p {
  margin-bottom: 2.188rem;
}

#project-page .lower-row .left-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 2.188rem;
}

@media (max-width: 767px) {
    #project-page .lower-row .left-col img {
    width: 100%;
    height: 100%;
  }
}

#project-page .lower-row .right-col {
  flex: 0 0 32%;
  width: 32%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1200px) {  
  #project-page .lower-row .right-col {
    flex-direction: column;
    margin-bottom: 4.375rem;
    flex: 0 0 auto;
    width: auto;
  }
}

#project-page .lower-row .right-col .architect {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#project-page .lower-row .right-col .architect h2 {
  text-align: center;
  font-weight: 800;
  font-size: 1rem;
  margin-bottom: 0;
}

#project-page .lower-row .right-col .avatar {
  margin: 1.875rem 0 1.25rem;
  border-radius: 50%;
  border: 3px solid var(--inactive-element);
  width: 105px;
  height: 105px;
}

#project-page .lower-row .right-col .architect .name {
  margin-bottom: 0.9rem;
  font-weight: 600;
}

#project-page .lower-row .right-col .architect .bio {
  margin-bottom: 3.125rem;
  text-align: center;
  width: 280px;
}

#project-page .lower-row .right-col .info {
  background-color: var(--primary-white);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dotted var(--inactive-element);
  padding: 40px 30px;
}

#project-page .lower-row .right-col .info h2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 2.188rem;
  text-align: center;
  font-size: 1rem;
}

#project-page .lower-row .right-col .info .pairs {
  grid-gap: 0.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  font-size: 0.875rem;
}

#project-page .lower-row .right-col .info .pairs li {
  display: grid;
  grid-template-columns: max-content auto max-content;
  width: 100%;
}

#project-page .lower-row .right-col .info .pairs .key {
  flex: 0 0 max-content;
  width: max-content;
}

#project-page .lower-row .right-col .info .pairs .divider {
  flex: 0 0 100%;
  width: 100%;
  height: auto;
  border-bottom: 1px dotted var(--inactive-element);
}

#project-page .lower-row .right-col .info .pairs .value {
  flex: 0 0 max-content;
  width: max-content;
}

#services {
  padding-left: var(--side-margins-non-widescreen);
  padding-right: var(--side-margins-non-widescreen);
}

#services .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services .services-ul {
  display: grid;
  grid-gap: 1.2rem 20px;
  grid-template-columns: repeat(auto-fill, 590px);
  justify-content: center;
  grid-gap: 1.25rem;
  padding: 0;
  width: 100%;
  max-width: 1400px;
}

@media (max-width: 767px) {  
  #services .services-ul {
  grid-template-columns: repeat(auto-fill, 294px);
  }
}

#services .service {
  all: inherit;
  flex: 0 0 590px;
  width: 590px;
  border: 1px solid var(--inactive-element);
  display: flex;
  position: relative;
  color: var(--primary-text);
  cursor: pointer;
}

@media (max-width: 767px) {  
  #services .service {
    flex-direction: column;
    flex: 0 0 295px;
    width: 295px;
  }
}

#services .service:focus {
  outline: solid;
}

#services .service::before {
  width: 3px;
  height: 26px;
  position: absolute;
  content: '';
  background-color: var(--inactive-element);
  top: 50%;
}

#services .service:hover::before, #services .service:focus::before {
  background-color: var(--primary-accent);
}

#services .service .text-col h2 {
  margin-top: 0;
}

#services .service:hover .text-col h2, #services .service:focus .text-col h2 {
  color: var(--primary-accent);
  text-decoration: underline;
}

#services .service .text-col {
  display: flex;
  flex-direction: column;
  padding: 2.125rem 1.875rem;
  flex: 0 0 50%;
  min-width: 50%;
}

#services .service .text-col p {
  width: 100%;
  max-width: 225px;
  margin: 0;
}

#services .service img {
  object-fit: cover;
  min-width: 50%;
  flex: 0 0 50%;
}

#services .contact-form-link {
  margin: 7rem 0 3.125rem;
}

#article-page  {
  padding-left: var(--side-margins);
  padding-right: var(--side-margins);
}

#article-page .wrapper {
  width: 100%;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#article-page .breadcrumb-trail {
  align-self: flex-start;
  margin-bottom: 4.375rem;
}

#article-page .header-image {
  width: 100%;
  max-width: 910px;
  display: flex;
  flex-direction: column;
  margin: 0 0 2.813rem;
  border: 1px solid var(--inactive-element);
  padding: 0.625rem;
  max-height: 523px;
  object-fit: cover;
}

#article-page .body {
  width: 100%;
  max-width: 740px;
  margin-bottom: 2.188rem;
}

#article-page .body p {
  margin: 0 0 2.188rem;
}

#article-page .body img {
  margin: 0 0 2.188rem;
  width: 100%;
}

#blog {
  padding-left: var(--side-margins-non-widescreen);
  padding-right: var(--side-margins-non-widescreen);
}

#blog .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blog .blog-ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  min-height: 1820px;
  grid-auto-rows: min-content;
  grid-gap: 1.25rem;
  max-width: 1120px;
  padding: 0;
  width: 100%;
  justify-content: center;
}

@media (max-width: 916px) {
  #blog .blog-ul {
    min-height: 5500px;
  }
}

.page-control {
  font-family: 'Roboto';
  display: flex;
  color: var(--primary-text-light);
  height: max-content;
}

.page-control button {
  border-radius: var(--styled-border-radius);
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.813rem 0.25rem 4.375rem;
}

@media (max-width: 576px) {  
  .page-control button {
    margin-left: 0.125rem;
    margin-right: 0.125rem;
  }
}

@media (min-width: 577px) {
  .page-control button:hover {
    text-decoration: underline;
    color: var(--primary-accent);
  }
}

.page-control .number-buttons {
  display: flex;
  margin: 0 0.5rem;
}

.page-control .number-buttons .number-button:focus {
  outline: solid;
}

.page-control .arrow-button {
  height: 38px;
  width: max-content;
}

.page-control .arrow-button:focus {
  outline: solid;
}

.page-control .current-page {
  background-color: var(--primary-accent);
  color: var(--primary-white);
  pointer-events: none;
}

#company {
  padding-left: var(--side-margins-non-widescreen);
  padding-right: var(--side-margins-non-widescreen);
  margin-top: 70px;
  width: 100%;
}

#company .router-wrapper {
  display: flex;
  max-width: 1120px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-gap: 3.25rem;
}

#company .left-col {
  display: flex;
  flex: 0 0 265px;
  flex-direction: column;
  max-height: 315px;
  max-width: 265px;
  width: 100%;
}

#company .left-col h2 {
  font-size: 1rem;
  font-weight: 800;
  margin-top: 2.75rem;
  margin-left: 1.875rem;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  #company .left-col h2 {
    margin-top: 0;
  }
}

#company .left-col a {
  text-decoration: none;
  color: var(--primary-text);
  font-size: 0.875rem;
  padding: 0.75rem 0;
  padding-left: 1.875rem;
  border-bottom: 1px solid var(--divider-gray-light);
}

#company .left-col a:not(.current-route):hover {
  color: var(--primary-accent);
  text-decoration: underline;
}

#company .left-col a.current-route {
  color: var(--primary-white);
  background-color: var(--primary-accent);
}

#company .right-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

#company .page-header {
  color: var(--primary-text);
  margin: 0;
}

#company .page-header h1 {
  margin: 0 0 3rem;
  text-transform: none;
  font-size: 2rem;
}

#company #article-page {
  padding: 0;
}

#company #advantages.right-col {
  justify-self: center;
}

#company #advantages ul {
  padding: 0;
  display: grid;
  grid-gap: 1.25rem;
  grid-template-columns: repeat(auto-fill, 253px);
  margin-bottom: 70px;
  width: 100%;
  max-width: 800px;
  justify-content: center;
}

#company #advantages .advantage {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

#company #advantages .advantage .title-row {
  flex-direction: column;
}

#company #advantages .advantage .title-row .title-text {
  margin: 1.15rem 0 1rem;
  width: 100%;
}

#company #advantages .advantage .divider.front-page {
  display: none;
}

#company #advantages .advantage .divider.company-page {
  display: initial;
  margin: 1.75rem auto 1rem;
  opacity: 0.75;
  width: 75%;
}

#company #partners {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4.4rem;
}

#company #partners .partner {
  width: 265px;
  display: flex;
  flex-direction: column;
}

#company #partners .partner .logo {
  fill: var(--primary-white);
  width: 200px;
  height: 100px;
  background-color: var(--primary-dark)
}

#company #partners ul {
  display: flex;
  flex-direction: column;
  grid-gap: 1.5rem;
  padding: 0;
}

#company #partners ul .partner {
  width: 100%;
  display: flex;
  flex-direction: row;
  grid-gap: 1.125rem;
}

@media (max-width: 767px) {  
  #company #partners ul .partner {
    flex-direction: column;
    grid-gap: 1rem;
    align-items: center;
  }
}

#company #partners ul .partner .logo {
  max-width: 160px;
  width: 100%;
  padding: 0.55rem;
}

#company #partners ul .partner .text-col {
  width: 100%;
}

#company #partners ul .partner .text-col h2 {
  margin-top: 0;
  color: var(--primary-text);
}

#company #contact h1 {
  margin-bottom: 0;
}

#company #contact p {
  text-align: center;
  margin: 2rem 0 3.5rem;
}

#company #contact form {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  max-width: 360px;
  width: 100%;
  margin-bottom: 4.375rem;
}

#company #contact form {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  max-width: 360px;
  width: 100%;
  margin-bottom: 4.375rem;
}

#company #contact form.success .input, #company #contact form.success .textarea {
  background-color: var(--inactive-element);
  pointer-events: none;
  opacity: 0.5;
}

#company #contact form.success .button {
  background-color: var(--success-green-light);
  color: var(--primary-white);
  display: flex;
  flex-direction: row;
  grid-gap: 0.4rem;
  transition: none;
}

#footer {
  background-color: var(--primary-dark);
  width: 100%;
}

#footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "first-col second-col third-col fourth-col";
  padding: 3.9rem var(--side-margins-non-widescreen);
  grid-gap: 1.25rem;
  position: relative;
  max-width: 1100px;
  margin: auto;
}

@media (max-width: 992px) {
  #footer .wrapper {
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "first-col fourth-col"
    "second-col third-col";
  }
}

@media (max-width: 992px) {
  #footer .wrapper {
    justify-content: center;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-areas:
    ". first-col ."
    "second-col third-col fourth-col";
    padding: 3.9rem var(--side-margins);
    grid-gap: 0;
  }
}

@media (max-width: 767px) {
  #footer .wrapper {
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "first-col ."
    "second-col third-col"
    "fourth-col .";
    padding: 1.3rem var(--side-margins) 6.5rem;
    grid-gap: 1.25rem;
  }
}

#footer h2 {
  color: var(--primary-white);
  margin-top: 0;
}

#footer ul {
  padding: 0;
}

#footer .divider {
  border-bottom: 3px solid var(--primary-accent);
  width: 1.7rem;
  margin: 1.65rem 0 2rem;
}

#footer .first-col {
  grid-area: first-col;
  margin-bottom: 2.5rem;
  max-width: 308px;
}

@media (max-width: 767px) {
  #footer .first-col {
    position: relative;
    top: 50%;
    left: 55%;
    transform: translateY(-50%);
  }
}

@media (max-width: 767px) {
  #footer .first-col {
    margin-top: 3rem;
    display: flex;
    flex-direction: column-reverse;
  }
}

#footer .first-col .logo {
  width: max-content;
  margin-top: 0.4rem;
  margin-bottom: 3rem;
  height: 34px;
}

@media (max-width: 992px) {
  #footer .first-col .logo {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }
}

#footer p {
  color: var(--primary-text-light);
}

#footer .second-col h2 {
  color: var(--primary-white);
}

#footer .second-col {
  justify-self: center;
  grid-area: second-col;
}

#footer .second-col ul, #footer .third-col ul {
  display: flex;
  flex-direction: column;
  grid-gap: 1.65rem;
}

#footer .third-col {
  grid-area: third-col;
}

#footer .second-col ul .nav-button, #footer .third-col ul .nav-button {
  padding-left: 0;
}

#footer .second-col ul .nav-button:hover, #footer .third-col ul .nav-button:hover {
  text-decoration: underline;
  color: var(--primary-accent);
}

#footer .fourth-col {
  grid-area: fourth-col;
}

@media (max-width: 767px) {
  #footer .fourth-col {
    position: relative;
    top: 50%;
    left: 55%;
    transform: translateY(-50%);
  }
}

#footer .fourth-col ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  grid-gap: 0.75rem;
}

#footer .fourth-col ul svg {
  border-radius: var(--styled-border-radius);
  border: 1px solid var(--inactive-element);
}

#footer .fourth-col ul svg:hover {
  color: var(--primary-white);
  background-color: var(--primary-accent);
}

#footer .fourth-col p {
  margin: -0.25rem 0 1.5rem;
}

#footer .to-top-button {
  position: absolute;
  bottom: 1.875rem;
  right: 1.875rem;
  padding: 1.175rem 1.188rem;
  display: initial;
  height: 53.59px;
  width: 55px;
}
